.board {
	text-align: center;
}

.cards {
	display: none; 	
	grid-template-columns: repeat(5, 18%);
	grid-template-rows: repeat(3, 100%);
	padding-bottom: 25px;
	padding-top: 25px; 
	justify-items: center;
	justify-content: center;
}

.spinButton {
	display: none;
	text-align: center;
}

.scoreboard {
	display: none;
	color: black;
	padding: 5px 70px;
	background-color: #437c90;
	width: 6em;
}

h1 {
	padding: 25px;
	margin: 0px;
	color: #eeebd3;
}