.board {
	text-align: center;
}

.cards {
	display: none; 	
	grid-template-columns: repeat(5, 18%);
	grid-template-rows: repeat(3, 35%);
	padding-bottom: 5%;
	justify-items: center;
	justify-content: center;
}

.spinButton {
	display: none;
	text-align: center;
}

.scoreboard {
	display: none;
}