.board {
	text-align: center;
}

.cards {
	display: none; 	
	grid-template-columns: repeat(5, 18%);
	grid-template-rows: repeat(3, 30%);
	padding-bottom: 25px;
	padding-top: 25px; 
	justify-items: center;
	justify-content: center;
}

.spinButton {
	display: none;
	text-align: center;
}

.scoreboard {
	display: none;
	color: black;
	padding: 5px 70px;
	background-color: #437c90;
	width: 6em;
}


.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #8EC5FC;
	background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
	max-height: 100%;
	max-width: 95%;
	height: 6em;
	width: 95%;
}

.winner {
	animation-name: winningCard;
	animation-duration: 0.5s;
	animation-iteration-count: 10;
}

p {
	position: absolute;
	background-color: rgba(4,6,9,0.5);
	font-size: 0.6em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	padding: 1px;
}

.dogImage {
	box-shadow: 0 2px 4px 0 rgba(0,0,0);
	width: 90%;
	height: 90%;
	object-fit: cover;
}

/* animations :O */
@keyframes winningCard {
	0% {
		background: rgb(224,71,86);
		background: linear-gradient(0deg, rgba(224,71,86,1) 0%, rgba(76,119,170,1) 100%);
	}
	25% {
		background: rgb(224,71,86);
		background: linear-gradient(90deg, rgba(224,71,86,1) 0%, rgba(76,119,170,1) 100%);
	}
	50% {
		background: rgb(224,71,86);
		background: linear-gradient(180deg, rgba(224,71,86,1) 0%, rgba(76,119,170,1) 100%);
	}
	75% {
		background: rgb(224,71,86);
		background: linear-gradient(270deg, rgba(224,71,86,1) 0%, rgba(76,119,170,1) 100%);
	}
	100% {
		background: rgb(224,71,86);
		background: linear-gradient(0deg, rgba(224,71,86,1) 0%, rgba(76,119,170,1) 100%);
	}
}