.board {
	text-align: center;
}

.cards {
	display: none; 	
	grid-template-columns: repeat(5, 15%);
	grid-template-rows: repeat(5, 25%);
	justify-items: center;
	justify-content: center;
}

.spinButton {
	display: none;
	text-align: center;
}

.scoreboard {
	display: none;
}