.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	max-height: 95%;
	max-width: 95%;
	height: 6em;
	width: 95%;
}

p {
	position: absolute;
	background-color: rgba(4,6,9,0.5);
	font-size: 0.6em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	padding: 1px;
}

img {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	width: 80%;
	height: 80%;
	object-fit: cover;
}